<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763046292820-729uddbbio31d7q1uhgio9lv3p67017d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763046292820-729uddbbio31d7q1uhgio9lv3p67017d</string>
	<key>API_KEY</key>
	<string>AIzaSyBOY-pA2UaqxAcgrcLglSlPBzzw1vpjwE4</string>
	<key>GCM_SENDER_ID</key>
	<string>763046292820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yanniksood.traderank-v1</string>
	<key>PROJECT_ID</key>
	<string>traderank-288df</string>
	<key>STORAGE_BUCKET</key>
	<string>traderank-288df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763046292820:ios:6b31ea5abef0ad3aeeacc1</string>
	<key>DATABASE_URL</key>
	<string>https://traderank-288df.firebaseio.com</string>
</dict>
</plist>